*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
    background-color: #fff;
    min-width: 310px;
}


/* start of header css  */

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header__area {
    font-size: 13px !important;
    min-height: 54px;
    margin-bottom: 2px;
}

.header__area a {
    color: #000;
    text-decoration: none;
    /* max-height: 54px; */
}

.header__area-container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px !important;
    padding: 0px 7px;
    /* background-color: aliceblue; */
}

.logo {
    position: relative;
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
}

.logo-img {
    width: 108px;
    height: 23px;
}

.header__nav {
    display: flex;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    justify-content: space-between;
    flex: 1;
    min-height: 54px;
}

.header__left-nav-links,
.header__right-nav-links {
    display: flex;
    align-items: center;
    /* background-color: blueviolet; */
}

.header__left-nav-links li,
.header__right-nav-links li:not(:last-child) {
    margin-right: 2rem;
}

.header__left-nav-links li a:hover,
.header__right-nav-links li a:hover {
    padding: 2px 0px;
    border-bottom: 2px #000 solid;
}

.fa-magnifying-glass {
    font-size: 15px !important;
    margin-left: 3px;
    transform: rotate(90deg);
}

.fa-user-plus {
    margin-left: 15px;
    color: #777;
}

.fa-chevron-down {
    font-size: 9px;
    color: #777;
}


/* end of header css  */


/* main css  */

.sales__notification {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #0067B8;
    color: #fff;
    font-size: 14px;
}

.sales__notification a {
    text-decoration: none;
    color: #fff !important;
}

.sales__notification a:hover {
    text-decoration: underline;
}

.sales__notification .fa-chevron-right {
    opacity: 0.7;
    margin-left: 10px;
    font-size: 14px !important;
}

.hero {
    position: relative;
}

.hero__top {
    margin-bottom: 48px;
}

.hero__hover-text {
    position: absolute;
    right: 6.5%;
    top: 32%;
    line-height: 30px;
    background-color: #F2F2F2;
}

.hero__hover-text h2 {
    font-weight: 600;
    font-size: 2.1rem;
    margin-bottom: 1rem;
    margin-top: .8rem;
}

.hero__hover-text::before {
    content: 'Spring Sale';
    background-color: #9BF00B;
    padding: 5px 14px;
    font-weight: 600;
}

.hero__hover-text p {
    margin-bottom: 1rem;
}

.hero__articles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 129px;
    margin-bottom: 48px;
}

.hero__articles-list {
    display: flex;
    max-height: 114px;
}

.ha__link {
    display: flex;
    flex-direction: column;
}

.ha__link a {
    display: inline-block;
    padding: 12px 6px;
    width: 184px;
    min-height: 44px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.ha__link a:hover {
    text-decoration: underline;
}

.ha__link a div {
    margin: auto;
    max-height: 60px;
    line-height: 20px;
    width: 100%;
    max-width: 125px;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    margin-left: 22px;
    margin-top: 4px;
}


/* button css */

.btn {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    line-height: 18.5px;
    padding: 11px 25px;
    text-decoration: none;
    font-weight: 600;
}

.article__text .btn {
    padding: 11px 25px 11px 0px;
}

.article__text .btn i {
    margin-right: 15px;
}

.btn__bg-clear {
    background-color: none;
}

.btn__color-black {
    color: #000;
}

.btn__bg-white {
    background-color: #fff;
}

.btn__bg-black {
    background-color: #000;
}

.btn__color-white {
    color: #fff;
}

.btn__color-blue {
    color: #0067B8;
}

.btn a {
    text-decoration: none;
}

.btn a:hover {
    transition: all 200ms ease-in-out;
    border-bottom: 2px solid;
}

.btn .fa-chevron-right {
    padding-left: 4px;
    font-size: 13px !important;
}


/* end of button css  */


/* start of articles css */

.shop__articles {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.article__col {
    width: 100%;
    max-width: 382px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    cursor: pointer;
    padding: 0;
}

.article__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__col>img {
    padding-bottom: 2.1rem;
}

.article__text h2 {
    padding-top: 1px;
    /* padding-bottom: 2px; */
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .3rem;
    line-height: 24px;
}

.article__text p {
    line-height: 20px;
}


/* end of articles css */

.pad__hero {
    position: relative;
    margin-bottom: 48px;
}

.pad-hero__hover-text {
    position: absolute;
    left: 6%;
    top: 45%;
    line-height: 20px;
    color: #fff;
    background-color: #1A1A1A;
    max-width: 520px;
    z-index: 1;
}


/* Footer CSS  */